.user-slider {
    display: flex;
    align-items: center;
}

.user-cards {
    display: flex;
    overflow: hidden;
}

.user-card {
    min-width: 200px;
}

button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}